<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>My name is Manoranjan Mohapatra</h1>
        <h2>My brother name is Rasmi Ranjan Mohapatra</h2>
        <h3>My sister name is subhalaxmi Mohapatra</h3>
        <h4>my father name is kapilendra Mohapatra</h4>
        <h5>my mother name is sabita Mohapatra</h5>
        <h6>my dog name is don't know</h6>
    </div>
</body>
</html>